[defaults]
# Default Datei für inventory 
# Falls keine Default,dann
# inventory = /dev/null
# YAML-Version
# inventory = ./inventory.yaml
# INI-Version
inventory = ./inventory.ini

# Keine Ausgabe zur Pyhton Versionen der Target Hosts
interpreter_python = auto_silent

# Flag für Prüfung der SSH-Host-Keys
# in TEST-Umgebung false ok
host_key_checking = False

# Einstellung für Log-Ausgaben
log_path = ./logs/ansible.log

# SSH-Key private Datei
private_key_file = ~/.ssh/id_etienne